[2017-04-22 08:04] lategoodbye opened #1 "dwc2: NMI watchdog: BUG: soft lockup - CPU#0 stuck for 146s"
I inspired by this [issue](https://github.com/raspberrypi/linux/issues/1692) i build up a slightly modified setup with a Raspberry Pi B (mainline kernel), a powered 7 port USB hub and 5 Prolific
PL2303 USB to serial convertors. I modified the [usb_test](https://gist.github.com/lategoodbye/dd0d30af27b6f101b03d5923b279dbaa) for dwc2, which
only tries to open all ttyUSB devices one after the other.

[2017-04-22 08:08] lategoodbye opened #2 "VCHIQ functional test broken since 4.11rc1"
Hi,

recently i found that vchiq_test -f doesn't work anymore with current mainline (4.11-rc6) and linux-next (20170404) on my Raspberry Pi Zero. The issue is always reproducible, but the error behavior isn't deterministic. Sometimes vchiq_test hangs and sometimes i get an error message from vchiq_test like this (but never errors from the kernel):

$ vchiq_test -f 10
Functional test - iters:10
===

[2017-04-22 08:13] lategoodbye opened #3 "dwc2: g_serial doesn't enumerate when builtin"
Hi,

i tested g_serial with a Raspberry Pi Zero (OTG mode, Linux 4.11-rc1) as gadget and a Linux Laptop as host (Linux 4.10.9). In case g_serial is build as a kernel module the RPi gets enumerated on the Linux host and in case of g_serial builtin not (CONFIG_USB_DWC2_DUAL_ROLE=y). In both cases i didn't provide any gadget configuration via configfs or kernel commandline.

[code]

[2017-04-22 08:20] lategoodbye opened #4 "pinctrl-bcm2835: Excluding pins from Linux control"
Hi,

on BCM2835 (Raspberry Pi) the firmware on the VideoCore and Linux on the ARM core share a common pin "space". Depending on the board revision the VideoCore needs to controls some pins, which shouldn't be claimed by Linux on the ARM.

[2017-04-22 08:33] lategoodbye opened #5 "Implement Raspberry Pi Zero OTG / gadget support"
Currently the Raspberry Pi Zero dts only support host mode.

[2017-04-22 08:40] lategoodbye opened #6 "Implement Raspberry Pi Compute Module support"
The Raspberry Pi Compute Module (CM1) is a SoM which contains a
BCM2835 processor, 512 MB RAM and a 4 GB eMMC. There is also a carrier
board which is called Compute Module IO Board.

The current efforts can be found here:
https://github.com/lategoodbye/rpi-zero/tree/bcm2835-cm1

[2017-04-22 08:43] lategoodbye opened #7 "Reduce power consumption in system halt"
For example the Raspberry Pi 3 consumes in system halt (HDMI connected) nearly 2.133 Watt, which is much to high.

[2017-04-22 08:46] lategoodbye commented on #4
Linus Walleij provided this nice [patch](https://gist.github.com/lategoodbye/2a54ebc710f91a1a9703d66da170e0b8).

[2017-04-22 08:49] lategoodbye opened #8 "VCHIQ cleaning"
Currently VCHIQ still needs a lot of cleaning before it can leave staging.

[2017-04-22 08:52] lategoodbye opened #9 "Suspend to idle support"
Even there is no documentation for power management on BCM2835, i hope we should be able to implement at least suspend to idle.

[2017-04-26 16:56] lategoodbye commented on #2
At least calling flush_cache_all() after get_user_pages() restore the old behavior. But it's only a workaround.

[2017-04-28 21:26] lategoodbye opened #10 "Implement pads control for GPIO pins"
According to GPIO pads control document the BCM2835 GPIOs also support the following settings:

- output slew rate
- input hysteresis
- output drive strength

So this should be implemented in the GPIO driver. Maybe we need to convert it into a standard GPIO driver before.

[2017-04-29 12:33] lategoodbye commented on #3
This issue might be a timing issue. In the past there has been problems with to much debug messages:

https://patchwork.kernel.org/patch/5091741/

[2017-05-01 18:11] lategoodbye opened #11 "VCHIQ functional test causes NULL ptr deref in multi_v7"
Running the VCHIQ functional test on a RPi 2 (arm/multi_v7_defconfig) causes a NULL pointer dereference:

[code]

[2017-05-03 19:22] lategoodbye commented on #2
A fix for the issue has been submitted downstream:

https://github.com/raspberrypi/linux/commit/d8479ab4814dbcfc4dce61aa1f7ba6d39b9fef6b

[2017-05-03 19:27] lategoodbye commented on #2
Raspberry Pi 1 B

With fix / With ARM: 8627/1

vchiq_test -b 4 10000 2640us/iter
vchiq_test -b 8 10000 3167us/iter
vchiq_test -b 16 10000 3323us/iter
vchiq_test -b 32 10000 11983us/iter
vchiq_test -b 64 10000 12267us/iter
vchiq_test -b 128 5000 16024us/iter
vchiq_test -b 256 5000 19862us/iter

Without fix / Without ARM: 8627/1

vchiq_test -b 4 10000 1172us/iter
vchiq_test -b 8 10000 3062us/iter
vc

[2017-05-13 10:49] lategoodbye commented on #1
I was able to narrow down the issue regarding to the test scenario:

Raspberry Pi B and direct connected PL2303 = issue reproducible

[code]

Raspberry Pi Zero and PL2303 connected via 4 port USB HUB = issue reproducible

[code]

Raspberry Pi Zero and direct connected PL2303 = issue not reproducible

[code]

[2017-05-18 16:11] lategoodbye commented on #2
The patch has been accepted upstream:

https://git.kernel.org/pub/scm/linux/kernel/git/gregkh/staging.git/commit/?h=staging-linus&id=ff92b9e3c9f85fa442c430d70bf075499e1193b7

[2017-05-18 16:11] #2 closed, assigned to lategoodbye

[2017-05-18 16:13] lategoodbye commented on #3
The following patch works as a workaround (not intend as proper solution):

https://gist.github.com/lategoodbye/5e842f22c1f5a94fde24b466569a7d10

[2017-05-18 16:15] lategoodbye commented on #11
Phil Elwell pointed out it's related to the parameter CONFIG_HIGHMEM.

[2017-05-18 16:25] lategoodbye opened #12 "dwc2: Enable microframe scheduler"
The microframe scheduler for dwc2 has been approved, so it's time to enable it for BCM2835.

[2017-05-18 19:07] lategoodbye opened #13 "bcm2835-aux: Upstream aux interrupt controller"
The AUX block has a shared interrupt line with a register indicating
which devices have active IRQs.

https://github.com/raspberrypi/linux/commit/7e29397e487a14fad2ac806d3e7530ca382f95fa

[2017-05-26 16:18] lategoodbye opened #14 "replace deprecated dmaengine_terminate_all"
The usage of dmaengine_terminate_all is deprecated, so replace it by dmaengine_terminate_async or dmaengine_terminate_sync.

Affected drivers:
mmc/host/bcm2835.c
spi/host/spi-bcm2835.c

[2017-06-01 08:33] lategoodbye commented on #8
The first cleanup has been merged into staging-testing:

http://driverdev.linuxdriverproject.org/pipermail/driverdev-devel/2017-May/106195.html

[2017-06-15 15:02] lategoodbye commented on #5
The related patch series has been merged:

https://github.com/anholt/linux/commit/9c53535a15b63218204f2bab2c279b3e64c61c0e

[2017-06-15 15:02] #5 closed, assigned to nobody

[2017-06-17 18:09] lategoodbye opened #15 "Implement Raspberry Pi Zero W support"
The Raspberry Pi Zero W is like a usual Pi Zero plus Wifi and Bluetooth. Unfortunately this results in some changes in the general bcm2835 dts sources.

[2017-07-01 10:25] lategoodbye opened #16 "pwm-bcm2835: add atomic update support"
Currently the pwm-bcm2835 provides the non-atomic ops, so change the driver accordingly:

https://github.com/torvalds/linux/commit/2bf1c98aa5a41651f5e6455117ff06f66ff3cc50
https://github.com/torvalds/linux/commit/daa5abc41c80e32ebaf069bd482b7561e0ada71d

Btw we should check for:
- correct 0% and 100% duty cycle support (okay)
- possible rounding issues
- possible overflow on low PWM rates

[2017-07-05 03:21] lategoodbye opened #17 "pinctrl-bcm2835: Cache pull-up settings"
The BCM2835 doesn't provide a ability to readback the pull-up settings. So it would necessary to store these settings within the pinctrl driver and make them accessible via sysfs.

[2017-07-05 03:28] lategoodbye opened #18 "bcm2835-otp: Implement nvmem driver"
Instead of using a userspace tool it would be nice to have a nvmem driver to access the otp register.

The reason for using the mailbox interface is because the OTP aren't accessible from ARM core:
https://github.com/hermanhermitage/videocoreiv/wiki/Register-Documentation#region_28

Here is some documentation about the mailbox interface:
https://www.raspberrypi.org/documentation/hardware/industria

[2017-07-05 03:32] lategoodbye commented on #13
Phil Elwell is working on that:

http://lists.infradead.org/pipermail/linux-rpi-kernel/2017-June/006550.html

[2017-07-05 03:41] lategoodbye opened #19 "DT: Add GPIO current limiter for USB"
The Raspberry Pi B+ introduced a current limiter for USB which is controlled via GPIO. So add this to the devicetree.

[2017-07-05 03:53] lategoodbye commented on #8
TODO list:
- make kthreads killable
- free resources
- binding document
- fix stack hogs
- remove global variables
- documentation

[2017-07-30 12:21] lategoodbye commented on #7
Relevant patches:

http://marc.info/?l=linux-arm-kernel&m=150115732824156
http://marc.info/?l=linux-usb&m=149140154132634

[2017-08-19 14:47] lategoodbye commented on #15
Most of the work has been merged:

http://lists.infradead.org/pipermail/linux-rpi-kernel/2017-July/006751.html

TODO:
- [Bluetooth](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?h=v4.15-rc4&id=fd3372db18d3d44ae4579243a8eacb5247d8c03a)
- USB OTG like Raspberry Pi Zero
- Enable Serdev in defconfig

[2017-09-13 17:14] lategoodbye opened #20 "bcm2385-rng: Update to new read API"
Currently bcm2835-rng implements an obsolete API ( data_read ), which should be replaced by read. Btw we should use the FIFO full interrupt and add it to the device tree and binding.

Please look at https://github.com/raspberrypi/linux/issues/2195 for any further details.

[2017-10-17 11:17] lategoodbye commented on #1
Progress on this issue:
https://marc.info/?l=linux-usb&m=150823033800886&w=2

[2017-10-28 21:25] lategoodbye commented on #1
Bugfix:
https://marc.info/?l=linux-kernel&m=150904935806281&w=2

[2017-10-28 21:57] lategoodbye commented on #11
My bugfix has been applied:
https://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git/commit/?h=next-20171018&id=974d4d03fc020af4fa4e9e72a86f0fefa37803c5

[2017-10-28 21:57] #11 closed, assigned to lategoodbye

[2017-11-04 12:39] lategoodbye opened #21 "Upstreaming of general raspberrypi patches"
Currently the foundation repository contains a lot of minor patches against a stock kernel. This ticket should document the status of the current upstream work:

bcm2835-rng: Avoid initialising if already enabled
https://github.com/raspberrypi/linux/pull/2236/commits/11de561503e681ee9207ff460f4516957d699b3a
Status: Delayed because of https://marc.info/?l=linux-arm-kernel&m=150958473206921&w=2

amb

[2017-11-15 18:44] lategoodbye opened #22 "DT: Disable i2c0"
The GPU firmware of the Raspberry Pi 3 uses i2c0 to communicate to the FXL6408 gpio expander. It is a bad idea to also use this interface from the ARM side. So avoid any conflict by disabling it.

Please look at https://github.com/anholt/linux/issues/89 for any further details.

[2017-11-22 19:01] lategoodbye opened #23 "VCHIQ: data corruption during functional vchiq_test"
Runnung vchiq_test -f 10 on RPI 3 (arm64, defconfig, linux-next-20171122) shows the following output:
[code]

[2017-12-13 19:04] lategoodbye commented on #23
I tested today 4.13, 4.14 and 4.15-rc2, they are also affected by this issue.

[2017-12-20 17:43] lategoodbye commented on #1
Fix has been merged and should be available in 4.16.

[2017-12-20 17:43] #1 closed, assigned to lategoodbye

[2017-12-21 10:40] lategoodbye opened #24 "pinctrl-bcm2835: Convert to generic pinctrl driver"
Try to convert pinctrl-bcm2835 to a generic pinctrl driver with a common DT binding:

http://elixir.free-electrons.com/linux/latest/source/Documentation/devicetree/bindings/pinctrl/pinctrl-bindings.txt

[2017-12-30 10:02] lategoodbye opened #25 "bcm2836: Implement CPU hotplug support"
Try to integrate Tadeusz Kijkowski's [work](https://github.com/raspberrypi/linux/pull/1994) into the Broadcom SMP / platform code.

[2017-12-30 10:04] lategoodbye commented on #25
My current attempt can be found here:
https://github.com/lategoodbye/rpi-zero/tree/bcm2836-hotplug

[2018-01-17 21:38] sergey-suloev commented on #23
@lategoodbye any news on that ? got the same issue with latest 4.15-rc8

[2018-01-19 19:00] lategoodbye commented on #23
Unfortunately not, i'm busy with other BCM2835 parts. I suggest to bisecting this issue. bcm2835_defconfig should be a good starting point.

[2018-01-19 19:07] lategoodbye commented on #18
My current attempt can be found here:
https://github.com/lategoodbye/rpi-zero/tree/bcm2835-otp-v2

Edit: updated link

[2018-01-27 19:40] #20 closed, assigned to nobody

[2018-03-03 13:01] lategoodbye commented on #10
For pads control we need to take of the following points:
- registers are located within power management
- control applies to banks not pins

So i would start with a separate driver.

[2018-03-03 13:05] lategoodbye commented on #15
Initial Bluetooth and OTG support has been merged:

http://lists.infradead.org/pipermail/linux-rpi-kernel/2018-February/007438.html

TODO:
- Clarify hardware flow-control

[2018-03-03 13:09] lategoodbye opened #26 "bcm2837: Add PMU node"
Currently the mainline devicetree for bcm2837 lacks the PMU node.

[2018-03-03 13:14] lategoodbye opened #27 "Fix PWM-I2C pin conflict on GPIO45"
There is a pin conflict between PWM and I2C driver on RPI 3, which needs to be fixed:

http://lists.infradead.org/pipermail/linux-rpi-kernel/2017-December/007229.html

[2018-03-03 13:24] lategoodbye opened #28 "pinctrl-bcm2835: Support generic pinctrl property for bias control"
Beside the Broadcom-specific pinctrl properties the driver should support the generic ones:
- bias-disable
- bias-pull-up
- bias-pull-down

[2018-03-09 13:44] lategoodbye commented on #18
I send out a RFC patch series:
https://marc.info/?l=linux-arm-kernel&m=152060248226508&w=2

[2018-03-17 10:18] lategoodbye opened #29 "Upstream Raspberry Pi 3 B+ support"
The Raspberry Pi 3 B+ has the following major differences compared
to the model 3 B:
* Microchip LAN7515 (Gigabit Ethernet)
* Cypress CYW43455 (802.11ac and BT 4.2)

[2018-03-17 10:19] lategoodbye commented on #29
The current efforts can be found here:
https://github.com/lategoodbye/rpi-zero/tree/bcm2837-rpi3-plus

[2018-03-17 10:21] lategoodbye commented on #26
Here is the current version:
https://github.com/lategoodbye/rpi-zero/commit/69e52712002cb6768b894cde9620fb426fd8728d

[2018-04-11 20:02] lategoodbye commented on #24
Matheus Castello provided a series to support the common binding:
https://www.spinics.net/lists/devicetree/msg223465.html

[2018-04-21 10:55] lategoodbye opened #30 "sdhost: Random timeouts on Raspberry Pi 3"
There has been reports that under some conditions sdhost lock ups can occur:
https://github.com/raspberrypi/linux/issues/2392
https://patchwork.kernel.org/patch/10219145/
https://bugzilla.opensuse.org/show_bug.cgi?id=1070872

[2018-04-29 09:52] lategoodbye commented on #27
Fix:
https://patchwork.kernel.org/patch/10340675/

[2018-04-29 09:52] #27 closed, assigned to lategoodbye

[2018-04-29 09:53] lategoodbye commented on #29
Final series:
https://patchwork.ozlabs.org/cover/902373/

[2018-04-29 09:53] #29 closed, assigned to lategoodbye

[2018-04-29 09:55] lategoodbye commented on #8
Next clean up round:
http://driverdev.linuxdriverproject.org/pipermail/driverdev-devel/2018-April/119925.html

[2018-04-29 09:58] lategoodbye commented on #15
In opposite to the RPI 3 the Zero has hardware flow-control pins.

[2018-04-29 09:58] #15 closed, assigned to lategoodbye

[2018-05-10 08:56] lategoodbye opened #31 "hwmon: Implement a driver to detect under-voltage"
Based on the downstream code https://github.com/raspberrypi/linux/pull/2397 we should a implement a separate hwmon driver to get this code upstream.

[2018-05-10 09:02] lategoodbye commented on #13
This isn't necessary anymore:
https://www.spinics.net/lists/linux-spi/msg12708.html

[2018-05-10 09:02] #13 closed, assigned to lategoodbye

[2018-05-20 09:51] lategoodbye commented on #26
Recent discussion:
http://lists.infradead.org/pipermail/linux-rpi-kernel/2018-May/007615.html

[2018-05-20 09:52] lategoodbye commented on #6
The 2nd version:
https://github.com/lategoodbye/rpi-zero/tree/bcm2835-cm1-v2

[2018-05-22 11:36] lategoodbye commented on #26
Next version (hopefully final):
http://lists.infradead.org/pipermail/linux-rpi-kernel/2018-May/007626.html

[2018-05-22 14:01] lategoodbye commented on #31
Current attempt:
https://github.com/lategoodbye/rpi-zero/tree/under-voltage-v2

[2018-05-22 14:09] lategoodbye commented on #18
TODO:
- try to make firmware driver a bus

[2018-05-23 12:36] lategoodbye opened #32 "cpufreq: Implement cpufreq support for Raspberry Pi"
In a recent [discuss](http://lists.infradead.org/pipermail/linux-rpi-kernel/2018-April/007515.html) someone requested for cpufreq support.

There are at least two options:
1. implement a bogus clock driver and use cpufreq-dt (OPP version)
2. implement a separate cpufreq-bcm2835 (non-OPP version)

Relevant discussions / patches:
- https://github.com/raspberrypi/linux/issues/1335
- https://github.co

[2018-05-23 16:12] sergey-suloev commented on #32
The following patch works well , but I have never seen cpu at 900 yet (600 & 1200 only).
https://github.com/orpaltech/armlinux/blob/master/patch/kernel/mainline/v4.19-rc2/rpi/0037-bcm2835-cpufreq-Add-CPU-frequency-control-driver.patch

[2018-05-23 16:20] lategoodbye commented on #32
Unfortunately me too, even after implementing recalc_rate with RPI_FIRMWARE_GET_CLOCK_MEASURED.

[2018-06-04 06:29] nullr0ute commented on #32
By just catting /sys/devices/system/cpu/cpufreq/policy0/scaling_cur_freq in brief testing I've seen it touch on 900 on it's way between 600/1200.

The patch looks to be just for the original RPi3, is there just more DT bits required for the 2/3+ (and presumably the various 0/1 devices)?

[2018-06-04 07:25] nullr0ute commented on #32
[   66.251546] cpu cpu0: dev_pm_opp_set_rate: failed to find current OPP for freq 1400000000 (-34)

[2018-06-04 07:25] nullr0ute commented on #32
On the 3+
[   66.251546] cpu cpu0: dev_pm_opp_set_rate: failed to find current OPP for freq 1400000000 (-34)

[2018-06-04 08:39] lategoodbye commented on #32
This isn't a topic which isn't fully matured yet. So i'm not interested in pushing a quick shot for 4.19.

Currently i'm not sure which approach is better. The DT has the disadvantage that we need to model the OPPs on board level instead of SoC. That's why i started with RPI 3.

[2018-06-04 08:49] nullr0ute commented on #32
I realise, I'm just playing to see if it's something that would be usable in the interim across the devices I need to support.

[0001-add-1.4-ghz-OPP-for-the-3B.patch.txt](https://github.com/lategoodbye/rpi-zero/files/2067395/0001-add-1.4-ghz-OPP-for-the-3B.patch.txt)

So this appears to work on the 3B+
# cat /sys/devices/system/cpu/cpufreq/policy0/scaling_available
600000 900000 1200000 1400000

[2018-06-04 09:07] lategoodbye commented on #32
AFAIK firmware supports arbitrary values. So this should be okay.

But this was only the easy part, because all driver connected to the VPU clock must handle clock changes now.

[2018-06-04 09:12] nullr0ute commented on #32
I have no doubts it was the easy part, is there details of which drivers are affected?

The best I've managed to find on the freqs supported seems to be this section in the wikipedia docs:
https://en.wikipedia.org/wiki/Raspberry_Pi#Overclocking

[2018-06-04 09:36] sergey-suloev commented on #32
If every driver needed to take CPU clock change into account that would be a hell. I am not sure how it is implemented in Rpi but normally it should be handled in only one driver, like ccu. Correct me if I am wrong.

[2018-06-04 09:42] sergey-suloev commented on #32
@lategoodbye And what about voltages ? Usually OPP table contains freq + voltage, does Rpi need voltage change ?

[2018-06-04 09:44] lategoodbye commented on #32
Please look at all driver which uses BCM2835_CLOCK_VPU for the notification changes:
https://elixir.bootlin.com/linux/latest/source/arch/arm/boot/dts/bcm283x.dtsi

The VC4 firmware takes care of the voltages.

[2018-06-04 09:50] sergey-suloev commented on #32
@lategoodbye  Is there a way to change(or create) only one , let's cal it "hub driver", and what would it cost ?
Maybe it is     [compatible = "brcm,bcm2835-cprman"]  ?

[2018-06-04 09:52] lategoodbye commented on #32
Sorry, i don't understand question / intension?

[2018-06-04 09:53] sergey-suloev commented on #32
@lategoodbye  my point is that changing every driver in order to integrate OPP table doesn't make too much sense. In other words, it is stupid.
My question : can you imagine any  way that can allow make such changes in only one, "hub", or managing driver, i.e. ccu.
I may be missing something, just want to understand. By "cost" I mean how much development effort it would take.

[2018-06-04 16:56] lategoodbye commented on #32
I think there is a misunderstanding. You don't need to implement OPP table handling in every driver. But a lot of driver uses the VPU as clock input with its clock divider. So in case the VPU clock changes the clock divider should be adjusted, too. Otherwise the resulting frequency is wrong. Usually the divider settings are claimed by the relevant driver, so in case of a VPU clock change is makes

[2018-06-04 17:09] nullr0ute commented on #32
@lategoodbye so that was my understanding around the drivers understanding that a clock would possibly change under them as opposed to being static. My query was is can we grep the DT or a string in drivers for which upstream drivers might be affected to work out what might be affected?

[2018-06-04 17:22] lategoodbye commented on #32
As i wrote above grep for BCM2835_CLOCK_VPU within the DT.

[2018-06-04 17:46] sergey-suloev commented on #32
@lategoodbye That's what I am talking about too. Can we have a special driver that will provide stable clocks for those drivers no matter if CPU clock changes or not?

[2018-06-27 18:27] lategoodbye commented on #31
Merged:
https://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git/commit/?h=next-20180627&id=3c493c885cf8abf0986c9877875161dfd0a29273

[2018-06-27 18:27] #31 closed, assigned to lategoodbye

[2018-06-27 18:29] lategoodbye commented on #28
Implemented:
https://github.com/torvalds/linux/commit/0de704955ee44738e88b9cc08546ea10354037ed#diff-cf078559c38543ac72c5db99323e236d

[2018-06-27 18:29] #28 closed, assigned to nobody

[2018-06-27 18:30] lategoodbye commented on #26
Merged:
https://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git/commit/?h=next-20180627&id=26611da3961755795d58595851eec350e75ae0e7

[2018-06-27 18:30] #26 closed, assigned to nobody

[2018-06-27 18:31] lategoodbye commented on #24
Implemented:
https://github.com/torvalds/linux/commit/0de704955ee44738e88b9cc08546ea10354037ed#diff-cf078559c38543ac72c5db99323e236d

[2018-06-27 18:31] #24 closed, assigned to nobody

[2018-07-21 10:58] lategoodbye opened #33 "Implement Raspberry Pi Compute Module 3 support"
The Raspberry Pi Compute Module 3 (CM3) and the Raspberry Pi Compute Module 3 Lite (CM3L) are SoMs which contains a BCM2837 processor, 1 GB RAM and a GPIO expander. The CM3 has a 4 GB eMMC, but on the CM3L the eMMC is unpopulated and it's up to the user to connect their own SD/MMC device. There is also a matching carrier board which is called Compute Module IO Board V3.

[2018-07-21 22:56] lategoodbye commented on #33
The current efforts can be found here:
https://github.com/lategoodbye/rpi-zero/tree/bcm2837-cm3

[2018-07-25 17:47] lategoodbye opened #34 "Add GPIO line names for all Rasberry Pi DTS"
Since the GPIO sysfs has been deprecated, all Raspberry Pi should have the gpio-line-names for all pins.

TODOs:
RPI 2 B (Header)
RPI 3 B (Header)
RPI 3 B+ (Header)

[2018-07-31 16:32] lategoodbye opened #35 "UAS support for dwc2 hcd"
Currently the dwc2 hcd doesn't support scatter-gather, which is required for UAS support.

There are plans from Synopsys to submit this feature in Q4 2018.

[2018-08-20 15:37] lategoodbye commented on #12
Douglas Anderson already send a patch:
https://marc.info/?l=linux-usb&m=153263570604049&w=2

[2018-08-20 15:37] #12 closed, assigned to nobody

[2018-08-24 21:44] lategoodbye opened #36 "Upstream lan78xx patches"
Upstream still misses some lan78xx patches. So upstream the following patches:

lan78xx: Read initial EEE status from DT
https://github.com/raspberrypi/linux/commit/8cedd6a4ab564ba0a6cc84b427019b139335f123
https://github.com/raspberrypi/linux/commit/c7ce6c3fc7be0cae80bdce5145138a0d1754ff1b
Status: Not acceptable

net: lan78xx: Ack pending PHY ints when resetting
https://github.com/raspberrypi/linu

[2018-08-28 17:25] lategoodbye commented on #6
Merged in Linux 4.19-rc1

[2018-08-28 17:25] #6 closed, assigned to nobody

[2018-08-28 23:27] nullr0ute commented on #7
Not sure if the upstream 135b3c4304da commit helps for usb, it's suspend (and rockchips) but possibly considering suspend for usb will hellp too. Mostly for reference

[2018-08-28 23:29] nullr0ute commented on #21
Does upstreaming also cover patches for official Foundation HATS like the sense HAT too?

[2018-08-29 05:51] lategoodbye commented on #21
This issue is more intended for minor general platform patches which hasn't been upstreamed yet. Overlays and especially the sense hat with its mfd driver is a different thing. But everyone is invited to send patches.

[2018-08-30 19:31] lategoodbye commented on #7
This patch draft https://github.com/lategoodbye/rpi-zero/commit/6f5bb4b1c868efea34ba19c219ef0d682378b239 powers off USB (not completely because power domain is still on) on system halt.

[2018-08-31 11:36] nullr0ute commented on #32
So having been running this for a little bit in Fedora one thing to note here when running something that I've noticed when running something that taxes the gpu too such as gnome on wayland we get shutdowns/lockups/poweroffs. I need to investigate more and get more debug.

The end driver might want to tie into the thermal framework and possibly the hwmon for undervoltage and use those for scaling

[2018-08-31 11:41] lategoodbye commented on #32
@nullr0ute Do you mean Sergey's patch?
Which governor did you use?

[2018-08-31 12:25] nullr0ute commented on #32
Yes, Sergey's patch, and the ondemand (Fedora default) govenor

[2018-09-02 07:56] sergey-suloev commented on #32
@nullr0ute  Can it be due to your power supply limits ? I personally haven't tried the patch with GUI tasks but I haven't had any issues with some heavy tasks in bash.

[2018-09-02 11:16] nullr0ute commented on #32
@sergey-suloev I don't believe so, it's a good quality Anker PSU, I will be investigating more this week. I think it's more thermal than power TBH but I wasn't remotely connected in to see any logs at the time. The RPi3 doesn't have a heatsink on it.

[2018-09-02 12:25] lategoodbye opened #37 "Switch to SPDX tags"
Most of the BCM2835/Raspberry Pi drivers doesn't use [SPDX tags](https://lwn.net/Articles/739183/).

Current list:
[code]

Notes:
Do not forget the header files. Do not send a single for all changes, instead one for each topic.

[2018-09-04 15:38] nullr0ute commented on #32
For reference with more testing, it's thermal, I get the following:
kernel: thermal thermal_zone0: critical temperature reached (80 C), shutting down

[2018-09-17 19:47] lategoodbye commented on #30
Seems to be related:
https://bugzilla.redhat.com/show_bug.cgi?id=1619081

[2018-09-18 05:15] lategoodbye opened #38 "raspberry-power: Enable runtime status for USB power domain"
Currently /sys/kernel/debug/pm_genpd/pm_genpd_summary reports that there is no runtime pm available for USB:

[code]

[2018-09-18 19:20] lategoodbye opened #39 "Avoid hang in raspberry firmware driver"
rpi_firmware_transaction() doesn't use a timeout for its completion, which could result in endless block for the caller. We could fix this by defining a timeout of at least 1 second and return -ETIMEDOUT in case of no response. We also should do a big fat warn if this happens.

https://github.com/raspberrypi/firmware/issues/999

[2018-09-19 20:00] lategoodbye commented on #32
I want to point out to this commit 0fe4d2181cc4cb3eba303c0e03f878d2558d0f3a

In the lack of a cooling device this was left empty. But with a cpufreq driver we have such a cooling device.

[2018-09-19 20:04] sergey-suloev commented on #32
@lategoodbye could you provide the code that should be added, please ?

[2018-09-19 20:05] lategoodbye commented on #32
It's not code, it's device tree settings. Yes, later

[2018-09-26 19:21] lategoodbye commented on #32
Based on Peter's cpufreq patch i made a [patch](https://gist.github.com/lategoodbye/0f304a5f57ccc2b31bffb2466e2e1818) to use CPU0 of RPI 3 as cooling device.

Disclaimer: Only compile tested

[2018-09-26 19:23] nullr0ute commented on #32
I'll give it a test run given I have a RPi I can regularly thermally trip :)

[2018-09-26 19:24] sergey-suloev commented on #32
@lategoodbye thanks a lot

[2018-09-26 20:03] nullr0ute commented on #32
Initial feedback, the cooling device shows up tmon and P trip point is there. Will test the actual trips shortly

[2018-09-26 22:16] nullr0ute commented on #32
BIG :+1: It seems to work pretty well. I've not managed to have my original RPi3 shut down due to thermal. Remotely running tmon and following the current freq in /sys/devices/system/cpu/cpufreq/policy0/ I've not managed to trip thermal in basic testing. It has got above the 70 P but managed to keep it well below Critical 80 and seems to work pretty well :+1:

[2018-09-27 07:37] lategoodbye commented on #32
Thanks for testing. Maybe we should add a hysteresis of 2 degree.

[2018-09-27 08:10] sergey-suloev commented on #32
@lategoodbye Stefan, is it possible to make Rpi3 work on 900MHz ?

[2018-09-27 08:17] nullr0ute commented on #32
@sergey-suloev in my testing I see it running at 900mhz on occasion, it moves between 600/900/1200

[2018-09-27 08:19] sergey-suloev commented on #32
@nullr0ute  I can't make it work on 900 when I set manually with userspace gov. The real freq is always 1200.

[2018-09-27 08:30] lategoodbye commented on #32
I think the 900 MHz which Peter is seeing is only internal in the cpufreq driver.

Edit: So i'm afraid that there is only minimum and maximum possible.

[2018-09-27 08:31] nullr0ute commented on #32
I'm looking in /sys/devices/system/cpu/cpufreq/policy0/ is there other places that are more accurate?

[2018-09-27 08:34] sergey-suloev commented on #32
@nullr0ute  can you make it 900 manually ?

[2018-09-27 08:46] lategoodbye commented on #32
@nullr0ute
AFAIK there is no chance to fetch actual core frequency via mailbox.

The more accurate way should be:
`vcgencmd measure_clock arm`

[2018-09-27 09:06] sergey-suloev commented on #32
no matter how you fetch it, on my Rpi3 it is always 1200  after I set it manually to 900

[2018-09-27 09:15] nullr0ute commented on #32
@lategoodbye unfortunately (last I looked at least) that tool isn't open source and doesn't work on aarch64 either

[2018-09-27 09:23] sergey-suloev commented on #32
@nullr0ute  it is open source and called userland
https://github.com/raspberrypi/userland

but there are definitely some issues with aarch64

[2018-10-07 09:22] lategoodbye commented on #23
The following patch series fixes this problem (not completely applied):
https://patchwork.ozlabs.org/cover/970434/

[2018-10-07 09:28] lategoodbye commented on #39
Here the current attempt:
https://github.com/lategoodbye/rpi-zero/commit/066524ed3ed8fccc4cbc5df720de967a8b60820a

[2018-10-10 17:05] lategoodbye commented on #30
Possibly related:
https://bugzilla.redhat.com/show_bug.cgi?id=1607872

The complete source code is here:
https://github.com/Ognian/sdmon

[2018-10-13 13:18] lategoodbye commented on #32
@nullr0ute Recently i tested Fedora Workstation 29 Beta 1.5 on my RPi 3 B+. The whole system periodically freeze completely (no USB power on keyboard, no reaction on screen). After blacklisting cpufreq_dt the system becomes usable (including debug UART). Just a warning cherry-picking just this cpufreq patch is very dangerous and can leads to data loss e.g. on sdhost interface.

[2018-10-22 20:45] lategoodbye commented on #37
Here is the first version (without the panel driver):
https://github.com/lategoodbye/rpi-zero/tree/bcm2835-spdx

[2018-10-22 20:52] lategoodbye commented on #37
While we are at this, we should make sure that MODULE_LICENSE match SPDX identifier:
GPL-2.0+ => GPL
GPL-2.0 => GPL v2

[2018-10-23 11:19] lategoodbye commented on #37
First patch series is out:
https://marc.info/?l=linux-arm-kernel&m=154029287612664&w=2

[2018-10-27 17:03] lategoodbye opened #40 "Upstream bcm2835_smi_nand"
The BCM2835 has a secondary memory interface which could be used for NAND flashes. There is already a downstream driver with DT support.

More information: https://www.raspberrypi.org/forums/viewtopic.php?t=217978

[2018-10-27 19:03] lategoodbye commented on #18
The revised version can be found here:
https://github.com/lategoodbye/rpi-zero/tree/bcm2835-otp

[2018-10-30 18:17] lategoodbye commented on #39
The patch has been send:
https://lore.kernel.org/patchwork/patch/1004603/

[2018-11-16 17:09] #33 closed, assigned to nobody

[2018-11-18 13:46] lategoodbye commented on #37
The first series has been applied, the second is here:
https://marc.info/?l=linux-arm-kernel&m=154185962726576&w=2

[2018-11-18 15:23] #39 closed, assigned to lategoodbye

[2018-11-18 15:46] lategoodbye commented on #30
A first patch series to fight this issue is here:
https://marc.info/?l=linux-mmc&m=154200766325468&w=2

[2018-11-18 15:47] #23 closed, assigned to nobody

[2018-12-12 19:46] lategoodbye commented on #37
Most of these patches has been applied. So send a new version to address Mark Brown comments for spi and ASoC patches.

[2018-12-12 19:46] lategoodbye commented on #30
Patch series has been applied.

[2018-12-12 19:53] lategoodbye commented on #14
The spi driver has been addressed by Lukas Wunner.

[2019-01-03 18:28] lategoodbye commented on #34
The first version can be found here:
https://github.com/lategoodbye/rpi-zero/commit/99909530ec9b6e9b1b3b756a05a83fa1c7d6d4bc

[2019-01-24 15:51] lategoodbye commented on #34
The following patch series has been submitted and applied:
https://marc.info/?l=linux-arm-kernel&m=154729714614100

[2019-02-01 18:03] lategoodbye opened #41 "mt7610u: Wifi driver doesn't probe properly"
Connecting the TP-Link Archer T2UH to a Raspberry Pi 3 doesn't result a properly probing driver.

https://marc.info/?l=linux-wireless&m=154875316703367&w=2
https://marc.info/?l=linux-wireless&m=154971413730974
https://github.com/raspberrypi/linux/issues/2817

[2019-02-01 18:23] lategoodbye opened #42 "pinctrl-bcm2835: Unexpected output of gpioinfo for claimed pins"
There is a discrepancy between pinctrl debugfs and gpioinfo on Raspberry Pi 3.

https://marc.info/?l=linux-gpio&m=154644476313636
https://marc.info/?l=linux-gpio&m=154741454202408
https://marc.info/?l=linux-arm-kernel&m=154805474308781

[2019-03-14 08:47] ggardet commented on #32
What is the current status? Is there any upstream effort on going?

[2019-03-14 09:28] lategoodbye commented on #32
Currently not. The first step would be to adapt the relevant driver (sdhost, i2c, aux, spi, dpi) for dynamic clock changes.

[2019-03-14 17:25] lategoodbye commented on #41
This issue should be fixed with release of 5.1-rc1

[2019-03-14 17:30] nullr0ute commented on #41
@lategoodbye would you happen to have reference to the upstream fix, I've also had people report bugs for that one

[2019-03-14 22:01] lategoodbye commented on #41
The mt76 driver is under heavy development, so backport would be hard.
This was the series:
https://patchwork.kernel.org/cover/10807911/

[2019-03-14 22:02] #41 closed, assigned to nobody

[2019-03-23 11:30] lategoodbye commented on #32
Okay, here is a untested patch to dynamically adjust AUX UART divisor:
https://gist.github.com/lategoodbye/5f4eea59e82c310519adf76dc095fe2e

Be aware this currently wont work with the implementation of clk-bcm2835, because it doesn't take VPU clock changes / Turbo mode into account.

[2019-03-25 09:23] nullr0ute commented on #32
I wonder if the OPP framework is one way to achieve this, seems this series for qcom is similar to what needs to be achieved.

https://lists.freedesktop.org/archives/dri-devel/2019-March/211321.html

[2019-04-03 18:02] lategoodbye commented on #32
First RFC series by Nicolas Saenz Julienne:
http://lists.infradead.org/pipermail/linux-rpi-kernel/2019-April/008634.html

[2019-06-04 11:22] lategoodbye commented on #32
Second RFC series by Nicolas Saenz Julienne:
https://patchwork.kernel.org/cover/10950865/

[2019-06-04 13:57] danieleftodi commented on #32
So, where might one get a hold of this patch to test? I have a RPi 3B+ running 5.1.6-1 on Arch Linux Aarch64 :-)

Willing to try it out, and see how it'll go.

[2019-06-04 14:14] lategoodbye commented on #32
Click "series" on the right and you should get the whole patch series. Be aware this isn't the final version yet.

[2019-06-04 14:24] vianpl commented on #32
@danieleftodi If you're willing to be patient, I'm planning on posting a new version of the patch series tomorrow. I'll appreciate the testing :wink: .

[2019-06-04 17:55] danieleftodi commented on #32
Sure! ... np. just post a link when you're done, and I'll give it a try.

[2019-06-04 19:13] lategoodbye commented on #32
@danieleftodi I think it's okay if i post the link to the new patch series:
https://patchwork.kernel.org/patch/10975841/

After applying the patch you still need to enable the CONFIG_ARM_RASPBERRYPI_CPUFREQ in the kernel config.

[2019-06-05 19:06] danieleftodi commented on #32
@lategoodbye pressing "series" is not recommended :-) it downloads all the e-mail text and patches in one "text dump" :-)

One has to go to each series and download each one by pressing "diff".

No biggie, as one can cat $i > one-patch.diff later :-)

<img width="1748" alt="Screenshot 2019-06-05 at 20 59 00" src="https://user-images.githubusercontent.com/35347921/58982790-8e7f4500-87d5-11e9-9d33-1

[2019-06-05 19:40] lategoodbye commented on #32
Sure you can make everything complicated or just
`git am series.patch` in the linux repo.

[2019-06-05 20:30] danieleftodi commented on #32
@lategoodbye  you learn something new every day 🤓

yeah, that makes it much easier.

[2019-06-08 10:54] lategoodbye commented on #32
The latest and bugfixed version V2 can be found here:
https://patchwork.kernel.org/patch/10979695/

[2019-06-18 08:16] lategoodbye commented on #32
This is hopefully the last version V4, which has been acked by myself:
https://patchwork.kernel.org/patch/10990631/

[2019-06-18 08:22] nullr0ute commented on #32
I've been testing v4 of this series on the rpi2/rpi3b/3b+/3a+ (both aarch64 and armv7 mode on the 3 series) and it seems to be working well.

[2019-06-18 09:16] sergey-suloev commented on #32
@vianpl  thank you very much for your work

[2019-06-18 18:32] vianpl commented on #32
@nullr0ute Thanks for testing!
@sergey-suloev My pleasure :smile:

[2019-06-22 09:16] lategoodbye commented on #30
It looks like some of the fixes caused a regression:
https://www.spinics.net/linux/fedora/fedora-arm/msg12930.html

[2019-06-22 09:41] lategoodbye commented on #38
Since there is a native Linux driver for power management, i think we should concentrate our efforts on this.

[2019-06-22 09:41] #38 closed, assigned to nobody

[2019-07-02 18:13] lategoodbye opened #43 "Upstream Raspberry Pi 4 B support"
The Raspberry Pi 4 B has a new brand SoC BCM2711 (1.5GHz Quad A72, VideoCore 6)
- LPDDR4 (1-8 GB)
- VIA Labs VL805 USB 3.0 Host controller (XHCI)
- USB bridge with 2x USB 3.0 and 2x USB 2.0 ports
- DWC2 controller with 1 USB C USB Host / Peripheral port
- Gigabit Ethernet with BCM54213PE PHY
- 2x Micro HDMI 2.0 slots
- PCIe 2.0 bus with 1 lane (USB hub)
- 40 bit DMA controller
- GICv2 interrupt co

[2019-07-02 18:27] lategoodbye commented on #43
High prio TODOs:
- clk changes
- spi controller changes
- DMA controller changes

Low prio TODOs:
- interrupt controller changes
- power changes (new driver?)
- V3D changes
- USB changes
- vchiq changes

[2019-07-04 18:41] lategoodbye commented on #43
For pinctrl i prefer to use this [patch](https://lore.kernel.org/patchwork/patch/1072244/). Since the pinctrl-bcm2835 is generic now, we should use the generic bias properties (bias-disable, bias-pull-up).

[2019-07-06 13:31] lategoodbye commented on #43
So finally here is the first draft for minimal RPi 4 support:
https://github.com/lategoodbye/rpi-zero/tree/bcm2838-initial

Beware: this is only compile tested!

Note: currently this doesn't seem to boot

Edit: multi_v7_defconfig seems to be broken

[2019-07-08 08:31] vianpl commented on #43
Hi @lategoodbye, where you aware of this: https://github.com/raspberrypi/linux/issues/3032#issuecomment-507356208. It could be one of the reasons.

[2019-07-08 08:43] lategoodbye commented on #43
This should be only relevant for aarch64. But thanks for the note.
I tried to build the downstream kernel tree with multi_v7_defconfig and this fails to boot differently. So i think this should be fixed first: https://github.com/raspberrypi/linux/issues/3057

[2019-07-10 13:46] lategoodbye opened #44 "lan78xx: Fix interrupt issues"
Since 4.20 there has been a warning during startup of the RPi 3B+ with arm64/defconfig. But it seems more a fundamental issue.

Related discussions:
https://marc.info/?l=linux-netdev&m=154604180927252&w=2
https://patchwork.kernel.org/patch/10888797/
https://github.com/raspberrypi/linux/issues/2928

Possible offending patch:
cc89c323a30e ("lan78xx: Use irq_domain for phy interrupt from USB Int. EP"

[2019-07-14 18:57] lategoodbye commented on #43
The changes should boot now.

[2019-07-16 20:50] lategoodbye commented on #43
Here is a more cleaner version, which is ready for RFC:
https://github.com/lategoodbye/rpi-zero/tree/bcm2838-initial-rfc

[2019-07-17 21:21] lategoodbye commented on #43
The RFC series is out now:
https://marc.info/?l=linux-arm-kernel&m=156339329211593&w=2

[2019-07-21 21:36] lategoodbye commented on #43
The version 1 is ready for rebase on top of 5.3-rc1:
https://github.com/lategoodbye/rpi-zero/tree/bcm2711-initial

Changes:
- change BCM2838 -> BCM2711 as discussed in RFC
- update MAINTAINERS accordingly
- drop "spi: bcm2835: enable shared interrupt support" from series
- squash all pinctrl-bcm2835 changes into one patch
- introduce SoC specific clock registration as suggested by Florian
- fix wa

[2019-07-25 22:01] lategoodbye commented on #43
The version 2 is ready:
https://github.com/lategoodbye/rpi-zero/tree/bcm2711-initial-v2

Changes:

- rebased on top of Linux 5.3-rc2
- use separate board file for BCM2711
- enable ARM_GIC for ARCH_BCM2835
- move already applied patches at the beginning
- add Acked-by and Reviewed-by
- fix arm-pmu and timer nodes for BCM2711 noticed by Marc
- enable HDMI at board level
- move HDMI and pixelvalve in

[2019-07-31 11:15] lategoodbye commented on #34
We need also take care of this review:
https://github.com/raspberrypi/linux/issues/2820

[2019-08-17 07:00] lategoodbye commented on #43
The version 3:
https://github.com/lategoodbye/rpi-zero/tree/bcm2711-initial-v3

Changes:
- rebased on top of Linux 5.4-pre-rc1
- add Reviewed-by
- configure i2c pull-up in dts
- move i2c2 to bcm2835-common.dtsi
- add missing compatibles to DT schema
- fix DT schema warnings in dtsi files
- replace brcm pintrl with generic pinctrl binding
- make dma_zone_size depend on CONFIG_ZONE_DMA

[2019-08-29 18:00] lategoodbye commented on #42
At least the gpiolib part has been applied:
https://marc.info/?l=linux-kernel&m=156578049518411

[2019-08-29 18:31] lategoodbye commented on #43
I split out the [clk](https://patchwork.kernel.org/patch/11099671/) and the [i2c](https://patchwork.ozlabs.org/patch/1153969/) changes from the original series to increase chance for Linux 5.4 merge.

Edit: i2c changes has been applied

[2019-09-01 19:03] lategoodbye commented on #43
I prepared an initial series for the BCM2711 thermal driver (currently untested)

https://github.com/lategoodbye/rpi-zero/tree/bcm2711-thermal

[2019-09-05 18:06] lategoodbye commented on #30
It seems that i've been able to reproduce this issue during boot for the following combination:
Raspberry Pi 2 + U-Boot 2017-rc1 + Linux 5.3-rc6 (multi_v7_defconfig + cpufreq) + Raspbian Wheezy 2015-02-16 + Samsung EVO+ 16 GB

[2019-09-07 20:44] lategoodbye commented on #30
I've found out that 37fefadee8bb665ae337a15aa635dabff9f66ade causes lockups in the timeout worker, but it's not the root cause of the hardware timeout. Nevertheless a revert is necessary.

[2019-09-25 08:41] lategoodbye commented on #43
@mbgg I saw that you upstreamed the NVRAM wifi configuration for the RPi 3B+ .

Do you plan to do the same for the RPi 4B, because its different [configuration](https://github.com/agherzan/meta-raspberrypi/commit/a8ff0e4c266f6df627b171009670ffaf7a3ec31b)?

[2019-09-28 23:51] lategoodbye commented on #43
The V3 series is out now:
https://marc.info/?l=linux-arm-kernel&m=156967248011963&w=2

[2019-09-30 20:57] lategoodbye commented on #43
The version 4:
https://github.com/lategoodbye/rpi-zero/tree/bcm2711-initial-v4

Changes:
- rebased on top of Linux 5.4-rc1
- make select CONFIG_ZONE_DMA for arm
- fix up spi reference
- drop "always-on" for armv8-timer
- add and fix comments
- fix Bluetooth
- add arm64 devicetree link

TODO:
- mention possible conflict with recent pm revert

[2019-10-02 10:13] mbgg commented on #43
Yes I can take care of this.

[2019-10-07 12:03] lategoodbye opened #45 "Measure and fix poll rate of raspberrypi-ts"
Recent [issue](https://github.com/raspberrypi/linux/issues/3227) in downstream shows a timing issue in polling behavior. As far i can see, this issue still persists in upstream, but the solution might be different.

[2019-10-08 11:48] lategoodbye commented on #45
@vianpl Could you please give me some hints to test the raspberrypi-ts (especially to wiring and devicetree)?

[2019-10-08 14:13] vianpl commented on #45
Hi @lategoodbye!

As far as raspberrypi-ts.c is concerned you can't do much to fix this issue. The firmware mandates the polling rate and that's the faster it'll ever be. IIRC the kernel driver uses the same polling frequency as the one downstream. Which, I assume, is adapted to the firmware's polling speed. To test it just  connect the ribbon cable, power and ground then follow Documentation/devi

[2019-10-11 08:01] lategoodbye commented on #43
The V4 series is out:
https://marc.info/?l=linux-arm-kernel&m=157037581825574&w=2

[2019-10-12 11:27] #32 closed, assigned to nobody

[2019-10-23 20:05] lategoodbye commented on #44
Possible fix:
https://lore.kernel.org/netdev/20191018082817.111480-1-dwagner@suse.de/

[2019-11-01 13:27] lategoodbye commented on #43
Based on the recent input from Florian i pushed a tested version of the thermal driver:
https://github.com/lategoodbye/rpi-zero/tree/bcm2711-thermal

[2019-11-02 13:46] lategoodbye commented on #43
New version for GENET support:
https://marc.info/?l=linux-arm-kernel&m=157270222523348&w=2

and thermal support are out:
https://marc.info/?l=linux-arm-kernel&m=157261586102794&w=2

[2019-11-08 08:50] lategoodbye commented on #43
First version of PCIe support:
https://marc.info/?l=linux-arm-kernel&m=157307676011376&w=2

[2019-11-13 08:21] #44 closed, assigned to nobody

[2019-11-25 19:51] lategoodbye commented on #43
Currently booting a RPi 4 (linux-next, multi_v7_defconfig) on ARM32 with more RAM than 1 GB will result in a kernel crash:

[code]

As a temporary workaround, place the following entry to config.txt

`total_mem=1024`

[2019-12-13 08:02] brenns10 commented on #43
I had a lot of trouble getting serial working on the upstream kernel (from a recent linux-next build). The mini UART is recognized by the kernel as `ttyS1` which I did not find obvious (I was expecting `ttyS0` and spent several hours debugging). Hopefully that can save others some time!

[2019-12-13 08:09] nullr0ute commented on #43
That's the same on the RPi3 when using the upstream kernel DT, if you use the firmware provided DT it's ttyS0

[2019-12-14 14:50] lategoodbye commented on #43
AFAIK there are some hacks in the downstream tree, which also play with the naming.

[2019-12-15 02:49] nullr0ute commented on #43
There's issues with the arm32 support in linus's tree, it doesn't boot and seems to cause issues with other devices for multiplatform support.

The aarch64 support with the upstream kernel boots fine, when used with the firmware DT I get the following errors:

<pre>
[   15.398547] raspberrypi-firmware soc:firmware: Request 0x00030043 returned status 0x00000000
[   15.407319] raspberrypi-exp-gpio s

[2019-12-15 12:54] lategoodbye commented on #43
Please don't use this to report new issues. This is mostly to keep track of upstreaming efforts. Use the appropriate mailing lists instead.

Combining upstream kernel and downstream DT is not intended to work. We need proper solutions upstream.

Btw there is a [patch](https://patchwork.kernel.org/patch/11292715/) to fix the multiplatform issue

[2019-12-26 07:49] starnight opened #46 "Enable VC4 with mainline kernel on RPi 4"
According to #43, I make a blind shot and try to enable VC4 on RPi 4.
Tested with latest Linux mainline kernel (5.5-rc3).  Got the idea from from `arch/arm/boot/dts/bcm2835-common.dtsi`.  I add the **gpu** node into bcm2711.dtsi
[code]
Then,
The vc4 module is loaded.
[code]
The frame buffer swtiches to **vc4drmfb** from **simple**.  But, it `cannot find any crtc or sizes`.
[code]
The full dmesg is

[2019-12-26 08:00] nullr0ute commented on #46
The hardware on the RPi4/bcm2711 uses a newer version of VideoCore which has a different driver in the linux kernel called v3d so I wouldn't expect the vc4 driver to work.

[2019-12-26 09:04] lategoodbye commented on #46
Sorry, i don't have any idea how to enable framebuffer on Raspberry Pi 4.

Maybe @itoral or @naushir from Igalia can shed some light on this.

Edit: This was the last relevant [discussion](https://github.com/raspberrypi/linux/pull/3203) i was involved.

[2020-01-03 17:29] lategoodbye commented on #43
V2 of thermal support is out now:
https://marc.info/?l=linux-arm-kernel&m=157807229003339&w=2

[2020-01-04 11:08] lategoodbye commented on #46
Just a note: AFAIK the vc4 kms driver is still required in Mainline for Raspberry Pi 4. But it's very likely that we also need adjustments in the low level drivers (power domain, clock).

[2020-01-06 04:50] dsd commented on #46
Yes. Confusing as the naming may be, I believe the situation is:

**RPi3**
Kernel driver for modesetting: vc4
Kernel driver for 3D acceleraton: v3d
Mesa driver for 3D acceleration: vc4

**RPi4**
Kernel driver for modesetting: vc4
Kernel driver for 3D acceleraton: v3d
Mesa driver for 3D acceleration: v3d

This issue is about adding RPi4 support in the upstream kernel vc4 modesetting driver - the ne

[2020-01-07 07:07] itoral commented on #46
We (Igalia) are only involved with the Mesa driver and are not really involved with the display engine, so I am afraid we can't be of help here. I am not aware of any public resources describing the display pipeline on the RPI4 either, but I think @naushir would be the right person to confirm that.

[2020-01-08 09:03] naushir commented on #46
@6by9 could you share some thoughts?

[2020-01-08 09:48] 6by9 commented on #46
A Full KMS driver for Pi4 is being worked on by a subcontractor, and will be mainlined.

My early steps enabling DPI displays on Pi4 are at https://github.com/raspberrypi/linux/pull/3311. That has now been extended and has a single HDMI output running for basic stuff. Dual HDMI is very nearly there. There's a fair amount of tidying up and testing to do though.

FYI, Pi4 still has the same DPI, DSI

[2020-01-09 05:49] dsd commented on #46
That's excellent news. Thanks for including the mainlining aspect in the roadmap right from the start!

@starnight and I would be happy to help testing this new code when the time is right, as well as doing initial diagnosis of any issues that we encounter.

[2020-01-20 18:35] vianpl commented on #43
@lategoodbye Could you comment on what "58 GPIO support" implies. I can't seem to find anything related.

[2020-01-20 20:56] lategoodbye commented on #43
@vianpl According to this [comment](https://github.com/raspberrypi/linux/issues/3101#issuecomment-573092294) the BCM2711 supports 58 instead of 54 GPIOs. So i prepared [this](https://github.com/lategoodbye/rpi-zero/tree/bcm2711-gpio58) untested branch. There is not much benefit behind it, but it's nice to have all the GPIO labels.

[2020-01-25 15:47] lategoodbye commented on #43
Here is the output of gpioinfo (1.4.0) with 58 GPIO and labels:

[code]

Any objections?

[2020-01-27 08:35] dsd commented on #46
At https://github.com/raspberrypi/linux/issues/3391 @lategoodbye wrote:

(I think my reply is further offtopic there, so I'll put it here instead.)

If all you want is an inflexible framebuffer, this is already working. Using a standard u-boot rpi4 build, at boot-time you can see the u-boot messages printed on the HDMI display. Presumably it is using a framebuffer set up by the RPi firmware.

Then

[2020-01-30 15:47] vianpl commented on #43
Starting with Rev6 of the board (AFAIK not out yet) USB won't work unless we get this patch upstream: https://github.com/raspberrypi/linux/commit/c74b1b53254016fd83b580b8d49bb02d72ce4836. I'm working on it.

[2020-02-24 12:36] lategoodbye commented on #43
@mripard sends an initial (but huge) series for VC4 on the Raspberry Pi 4:
https://lore.kernel.org/patchwork/project/lkml/list/?series=430943

[2020-03-25 08:16] ikruusa commented on #43
Hi!
VL805 LPM support seems to be applied for 5.7 already?

[2020-03-25 09:38] vianpl commented on #43
Yes, I updated the table. Thanks!

[2020-03-31 14:57] aleroot commented on #43
Is the audio / sound support already in upstream ? I can't see it in the table

[2020-03-31 16:56] lategoodbye commented on #43
Not yet

Added, thanks

[2020-04-08 07:34] stapelberg opened #47 "Raspberry Pi 4: bcmgenet ethernet does not send packets with Linux 5.6.2"
[Filing this as a separate issue to avoid derailing issue #43. Please forgive me if this is not the right place, but I figured y’all would know the most about ethernet on the Raspberry Pi 4 with the upstream linux kernel.]

I’m running upstream Linux 5.6.2 on a Raspberry Pi 4 Model B (in 64 bit mode) and I’m having some trouble getting ethernet to work.

The link comes up, and packets are received

[2020-04-08 08:31] pelwell commented on #47
If you still have that Buster Lite image around, can you run `sudo rpi-update` on it and retest? If that works, try `BRANCH=next sudo rpi-update` to pull in the latest downstream 5.4 kernel.

Since you're up to building your own kernel, you can try reverting to the most recent upstream 5.5 kernel (tag `v5.5.15`) in an attempt to narrow down when the problem started.

I'll be looking at a checksum

[2020-04-08 08:59] stapelberg commented on #47
Thanks for the tip, I’ll try that later today!

[2020-04-08 09:56] nullr0ute commented on #47
For reference I'm not seeing issues with 5.6.2 on Fedora (aarch64 only, ARMv7 has other issues I need to investigate) on the upstream genet driver.

[2020-04-08 10:48] lategoodbye commented on #47
@stapelberg Just guessing: could you please try the other [RGMII PHY modes](https://elixir.bootlin.com/linux/latest/source/Documentation/devicetree/bindings/net/ethernet-controller.yaml#L57) by changing your devicetree? I assume you are currently running "rgmii-rxid" with the upstream DTS.

[2020-04-08 12:19] stapelberg commented on #47
Yeah, you’re right:

[code]

After changing it to rgmii, the network seems to work!

Thank you so much!

[2020-04-08 14:26] lategoodbye commented on #47
@stapelberg I prefer to fix it the mainline kernel. Could you please confirm that you were using a mainline kernel + DTS?

@nullr0ute Does phy-mode = "rgmii" also works for you?

[2020-04-08 14:50] stapelberg commented on #47
Hereby confirmed, yes.

[2020-04-09 09:12] nullr0ute commented on #47
We're currently using what ever the upstream default is, looking upstream that's rgmii-rxid, I can test changing it to rgmii in the DT when I get a moment.

[2020-04-09 20:23] stapelberg commented on #43
Is another work item to add the XHCI controller to the Raspberry Pi 4 device tree in the upstream Linux kernel tree?

I can’t find it in the device tree which Linux 5.6 uses, and I’m wondering if that’s the reason for why the xhci_hcd driver does not detect any devices?

Update: adding xhci to the device-tree didn’t do the trick (or maybe I did it wrong). Maybe I’m missing a new kernel option?

[2020-04-09 22:18] vianpl commented on #43
Hi @stapelberg there shouldn't be any device-tree entry for RPi's xHCI chip as it sits behind a PCIe bus who'll discover it automatically. Something might be wrong otherwise.

Would you mind sending your issue to the linux-rpi mailing list (https://lists.infradead.org/mailman/listinfo/linux-rpi-kernel). And please attach your dmesg output. Note that this github issue is just used as an upstream st

[2020-04-09 22:29] stapelberg commented on #43
Thanks for clarifying! Indeed, after enabling the following kernel configuration options, USB seems to work (without any device-tree changes):
* `CONFIG_PCIE_BRCMSTB`
* `CONFIG_USB_NET_CDCETHER`
* `CONFIG_USB_VL600`

[2020-04-10 17:49] lategoodbye commented on #47
@stapelberg Could you please doublecheck that Linux 5.5 has the same behavior?

[2020-04-11 07:35] stapelberg commented on #47
Just checked with Linux 5.5.13. The issue is the same when not overriding phy-mode, and is fixed the same way when setting phy-mode=rgmii.

[2020-04-11 17:43] lategoodbye commented on #47
Thanks. I will take care of the upstream patch.

Is it okay to add you as a bug reporter to the patch?

[2020-04-11 17:56] stapelberg commented on #47
Yes. Thanks for taking care of the upstream fix!

[2020-04-11 19:45] lategoodbye commented on #47
Looks like the same issue here:
https://github.com/raspberrypi/linux/issues/3417

[2020-04-11 21:53] lategoodbye commented on #47
So i tested the change on 3 RPi 4 B against next-20200411 (multi_v7_defconfig) and it fails in most of the cases.

MAC Address | PHY mode | Result |
--- | --- | ---
DC:A6:32:23:54:85 | RGMII | FAIL |
DC:A6:32:23:54:85 | RGMII-RXID | OKAY |
B8:27:EB:FB:D8:28 | RGMII | FAIL |
B8:27:EB:FB:D8:28 | RGMII-RXID | OKAY |
DC:A6:32:3E:F2:35 | RGMII | OKAY |
DC:A6:32:3E:F2:35 | RGMII-RXID | OKAY |

Based on

[2020-04-13 07:32] stapelberg commented on #47
Can you clarify which 4 values are interesting here? Are the values rgmii, rgmii-rxid, rgmii-txid, rgmii-id, or did I read this wrong?

[2020-04-13 08:30] stapelberg commented on #47
Okay, here are my test results:

Linux 5.6.3:

| MAC               | PHY mode   | dmesg                     | result |
| ----------------- | ---------- | ------------------------- | ------ |
| **dc:a6:32:02:xx:yy** | rgmii      | external RGMII (no delay) | OKAY   |
| dc:a6:32:02:xx:yy | rgmii-rxid | external RGMII (RX delay) | FAIL   |
| dc:a6:32:02:xx:yy | rgmii-txid | external RGMII (TX delay)

[2020-04-13 11:04] lategoodbye commented on #47
Correct

[2020-04-13 11:21] lategoodbye commented on #47
@stapelberg Which kernel configuration did you use for your tests?

[2020-04-13 21:42] stapelberg commented on #47
Okay. Do you want me to test rgmii-id as well, or are the results above regarding rgmii{,-rxid,-txid} enough to work with?

make defconfig + https://github.com/gokrazy/kernel/blob/c3e1e48e481e208f95a9304166e9e75956552587/cmd/gokr-build-kernel/build.go#L17

I also attached the resulting `/proc/config.gz` for your convenience: [config.gz](https://github.com/lategoodbye/rpi-zero/files/4472009/config.

[2020-04-14 06:27] lategoodbye commented on #47
Could you please retest Linux 5.6 but 32 bit and only multi_v7_defconfig (without any modifications)? Sorry, currently i don't have the time to setup a working 64 bit environment.

[2020-04-14 06:42] stapelberg commented on #47
Sorry, testing 32-bit is too much effort for me. gokrazy was only ever targeting 64-bit.

I can test multi_v7_defconfig, but since I don’t use loadable modules, I’d need to do some modifications.

[2020-04-14 07:16] lategoodbye commented on #47
Okay, i will try to test with builtin on 32 bit.

Is gokrazy ready for RPi 4 yet?

[2020-04-14 07:18] stapelberg commented on #47
It works as far as I can tell, but I haven’t installed a Raspberry Pi 4 into the continuous integration setup yet. https://github.com/gokrazy/gokrazy/issues/48 tracks these 2 remaining issues.

[2020-04-14 19:57] lategoodbye commented on #47
I tested it, but didn't make any difference.

[2020-04-23 20:35] lategoodbye commented on #43
@vianpl I've added a recent eMMC2 bus fix on the TODO list.

[2020-04-24 10:00] vianpl commented on #43
@lategoodbye My upstream submission doesn't have this problem :slightly_smiling_face:  (it's available in linux-next BTW)

[2020-04-24 18:21] lategoodbye commented on #43
Sorry for that noise

[2020-04-27 07:14] ghost commented on #43
Hello, can someone please upload a running (debian/mainline) kernel or a minimal image for rpi4?
I have try to build my own without success.

[2020-04-27 13:08] lnussbaum commented on #43
I'm not sure this is the place for such questions, but have you seen https://lists.debian.org/debian-arm/2020/04/msg00091.html ? If this doesn't work for you, maybe reply on the list, and we can figure out what goes wrong?

[2020-04-27 13:11] vianpl commented on #43
As an alternative to @lnussbaum suggestion you could try in the linux-rpi-kernel mailing lists: https://lists.infradead.org/mailman/listinfo/linux-rpi-kernel

[2020-04-27 20:10] lategoodbye commented on #43
Please stop using this topic to report issues. You can open a new issue or even better report it to the mentioned mailing lists.

[2020-05-01 16:35] lategoodbye commented on #46
I prepared a branch based on Linux 5.7-rc1 and applied V2 of Maxime's VC4 KMS patches plus some minor adjustments:
https://github.com/lategoodbye/rpi-zero/tree/v5.7-bcm2711-vc4

[2020-05-03 13:42] lategoodbye commented on #47
@stapelberg What is the minimum version of Go i need to install for gokrazy?

[2020-05-03 16:47] stapelberg commented on #47
Not entirely sure. The current stable version (Go 1.14) definitely works and I’d recommend using it. We don’t usually test with older versions. The most likely failure scenario is that our code uses methods not yet available in your version of Go, which would result in a compile-time error. In other words: try it and see, if you’re adventurous :)

It’s quick & easy to install into your home dir (s

[2020-05-03 17:26] lategoodbye commented on #47
Okay, i managed to get it working on my RPi 4. At least i can confirm that one of the Pis which required rgmii-rxid with multi_v7_defconfig / Raspbian works fine with rgmii under gokrazy:

[    3.289489] bcmgenet fd580000.ethernet: configuring instance for external RGMII (no delay)

So we can definitely exclude a hardware issue.

@stapelberg I would be really fine to have access via debug UART / b

[2020-05-03 17:34] stapelberg commented on #47
I filed https://github.com/gokrazy/gokrazy/issues/54 just recently. For now, you can place https://t.zekjur.net/sh (statically compiled busybox) onto the permanent partition (4th partition), either from your computer with an SD card reader, or interactively via breakglass: https://github.com/gokrazy/breakglass

[2020-05-08 17:19] lategoodbye commented on #47
@stapelberg Sorry, i don't have the time for testing. But i think i've found the real issue. The MII PHY is not enabled in your config.

Please try to enable CONFIG_BROADCOM_PHY. Big thanks to Marek Szyprowski for finding this issue.

[2020-05-08 17:29] stapelberg commented on #47
Aha, thank you! Let me verify this real quick.

Yep:
[code]

[2020-05-08 19:37] stapelberg commented on #47
You’re right! Thanks very much. I pushed https://github.com/gokrazy/kernel/commit/82e30a7d5160d27b7725f28d7eada4894fc2a4e5 and verified it fixes it on my devices. Note that once I enabled CONFIG_BROADCOM_PHY, I had to also drop the phy-mode patch and go back to the default `rgmii-rxid`, otherwise the network would not be stable.

Should there be a dependency in the kernel build system which enforc

[2020-05-08 22:43] lategoodbye commented on #47
The problem is that the Ethernet PHY is board specific, so we cannot really enforce a dependency. But there is a ongoing discussion.

[2020-05-09 10:17] #47 closed, assigned to nobody

[2020-06-01 07:33] dsd commented on #46
@6by9 thanks again for your support of mainling efforts here.
Maxime's VC4 work seems to be developing nicely, @starnight showed me it running and will provide feedback upstream around the minor issues encountered.

With that fantastic progress there, I am naturally curious about the next step in the path to a full multimedia experience: do you have any plans/efforts concerning upstreaming of the

[2020-06-01 07:44] 6by9 commented on #46
v3d was supported upstream even before Pi4 launched. Eric had done the majority of the work as VC6 V3D was supported on other set top box chips. Igalia have taken over (contracted to Raspberry Pi) now that Eric has moved on to pastures new, and they've been pushing fixes in both kernel and mesa.

Various drivers are being upstreamed for libcamera support by Ideas On Board (again contracted by Rasp

[2020-06-01 08:06] dsd commented on #46
Thanks for the fast response!

I see - I had not spotted that Linux's `drivers/gpu/drm/v3d` is a specific driver for this new generation GPU (and separate from the older gen driver at `drivers/gpu/drm/vc4/vc4_v3d.c`).

There's currently no applicable device node that binds to that driver in the upstream RPi4 device tree, but presumably glueing these pieces together is a fairly ordinary upstreaming

[2020-06-01 08:15] dsd commented on #43
Thanks to everyone working hard on these efforts! In the table being maintained at the top of this issue, I suggest splitting the entry currently listed as "DRM" into two: "VC4 display" and "V3D GPU". Two separate DRM drivers needed for full graphics support.

VC4 display driver by Maxime Ripard is being reviewed upstream, as you know.

V3D is a separate driver, already upstream at `drivers/gpu/dr

[2020-06-03 14:32] nullr0ute commented on #43
A comment from Eric mentioned that for the RPi4 it should be as straightforward as adding appropriate compatibles (and enabling it for the arch): https://lists.freedesktop.org/archives/dri-devel/2020-March/258140.html

[2020-06-03 15:06] lategoodbye commented on #43
Thanks for pointing out, but as long as we are busy with Maxime's VC4 patch series it doesn't make sense to submit such a patch.

[2020-10-20 18:39] charlesfendt commented on #43
I supposed that the new CM4 will need a dedicated TDB, but won't need "big changes"... can someone confirm ?
Wenn can we expect a "first bootable vanilla kernel" on CM4 ?

[2020-10-21 10:07] vianpl commented on #43
@charlesfendt Yes, CM4 uses the same SoC BCM2711, and at first sight, there aren't many HW changes. That said, as @lategoodbye says, the devil is in the details. The boards aren't available yet. It's just a pre-order. Once I get my hands into one of them, I'll update this issue with more information on the actual challenges.

[2020-10-21 10:31] 6by9 commented on #43
@vianpl I'll ping Gordon to see if we can arrange for a CM4 (or some flavour) and CMIO4 to be sent out to you.
I assume your suse.de address is the best one to contact you? We'll need a shipping address and contact phone number.

[2020-10-21 11:47] lategoodbye opened #48 "Upstream CM4 and CMIO4"
The new CM4 is similiar to the Raspberry Pi 4 B

Differences:
- 2 full size HDMI ports
- No VIA Labs VL805 USB 3.0 Host controller (XHCI)
- eMMC is connected via 8 data lines instead of 4
- Dual camera interfaces
- PCB and external wifi antenna
- different Gigabit PHY BCM54210PE (IEEE 1588 support) with different MDIO address
- builtin RTC

TODO:
- check Wifi chip

Datasheets:
https://datasheets.r

[2020-10-21 11:48] lategoodbye commented on #43
Please post everything CM4 related stuff in #48
Thanks

[2020-11-29 20:12] lategoodbye commented on #16
Lino is working on this:
https://patchwork.ozlabs.org/project/linux-pwm/patch/1606564926-19555-1-git-send-email-LinoSanfilippo@gmx.de/

[2020-12-13 13:45] lategoodbye opened #49 "Upstream Raspberry Pi 400"
The Raspberry Pi 400 is very similiar to the Raspberry Pi 4 B

Differences:

- 4x 1.8 GHz BCM2711 CPU
- new Wifi chip: BCM43456 (also new firmware)
- no ACT LED
- poweroff is handled via GPIO

Product brief:
https://datasheets.raspberrypi.org/pi400/pi400-product-brief.pdf

[2020-12-23 12:40] lategoodbye commented on #46
Now that the VC4 has been extended for BCM2711, i prepared a experimental [branch](https://github.com/lategoodbye/rpi-zero/tree/v5.10-v3d). It bases on v5.10 and contains all the necessary changes to get V3D probing. Personally i tested only 32 bit ARM (multi_v7_defconfig). Most of the patches are cherry picked from downstream and are not ready for upstreaming yet.

[2020-12-23 12:45] lategoodbye commented on #43
Please post everything Raspberry Pi 400 related [here](https://github.com/lategoodbye/rpi-zero/issues/49)

Btw there are [news](https://github.com/lategoodbye/rpi-zero/issues/46#issuecomment-750274171) about V3D

[2020-12-23 12:57] vianpl commented on #46
@lategoodbye Funnily enough I just started looking a this myself some days ago (https://github.com/vianpl/linux/tree/v3d-dev). I made some progress with RPM, no more MMU corruptions. I still have to clean up the power domains patch, AFAIR it's hard to get right without internal design knowledge.

[2020-12-23 13:02] lategoodbye commented on #46
Oops. It seems to be ideal time for kernel hacking. At least we could "merge" our efforts.

[2020-12-23 13:18] lategoodbye commented on #46
Just some comments:
- strongly suggest to introduce a bcm2711 compatible for bcm2835-power
- not sure it's worth the effort but the V3D YAML should try to preserve the dependencies (register, interrupts), that's why i marked my version as WIP
- V3D is credulous about register values during probe, in case power domain is not enabled the registers will return 0xdeadbeef and the driver will crash

[2021-01-09 10:34] lategoodbye opened #50 "Convert BCM283* dt-bindings into YAML"
All dt-bindings must be available in YAML format.

Background information:
https://lwn.net/Articles/767723/
https://www.kernel.org/doc/html/latest/devicetree/writing-schema.html

So the following files must be converted:

- [ ] dma/brcm,bcm2835-dma.txt
- [ ] clock/brcm,bcm2835-cprman.txt
- [ ] clock/brcm,bcm2835-aux-clock.txt
- [ ] gpio/raspberrypi,firmware-gpio.txt
- [ ] serial/brcm,bcm2835-aux-u

[2021-01-10 18:09] newhacker1746 commented on #46
Tried to apply the patches to 5.11-rc2 for v3d (last few in v5.10-v3d branch), compiled for **ARM64** and it all works except at boot:
[code]

[2021-01-10 18:13] newhacker1746 commented on #46
Just examined the differences between lategoodbye's patches (that I used) and vianpl's, and:
https://github.com/vianpl/linux/commit/0147d8f5466d058f68f33951b447bd500f1a14f0
https://github.com/lategoodbye/rpi-zero/commit/aa0b600b6800cbff7f57166e703369f6e06208a7

vianpl, you put v3d in bcm2711.dtsi at 7ec04000
lategoodbye, you put v3d in bcm2711.dtsi at 7ec00000

Is the difference for a reason? I'm

[2021-01-14 11:13] lategoodbye commented on #16
v4 has been applied

[2021-01-14 11:13] #16 closed, assigned to nobody

[2021-04-20 16:13] steev commented on #43
May I ask - spi is mentioned as being Under review, but I can't seem to find where the review is being done?  I have checked the linux-kernel-rpi mailing list and not finding it there?

[2021-04-20 21:18] lategoodbye commented on #43
Sorry, i need to say: it's complicated.

The relevant patch spi: bcm2835: Enable shared interrupt support
has been applied and reverted at the same day since it caused a regression.

But i lost track of the last discussion. I assume this is the last patch version:
https://patchwork.kernel.org/project/spi-devel-general/patch/20200604212819.715-1-f.fainelli@gmail.com/

Regarding to your last questio

[2021-04-20 23:21] steev commented on #43
Ah, fair enough, thanks for the pointer.  I'm used to the msm mailing list where it goes to msm as well as the subsystems.  Thanks for the heads up.  I guess I'll look into it a bit myself since it seems to be untouched since 2020 06.

[2021-05-26 12:37] lategoodbye commented on #49
First draft:
https://github.com/lategoodbye/rpi-zero/tree/rpi-400-v1

[2021-05-26 13:12] lategoodbye commented on #49
Please also follow this [discussion](https://github.com/raspberrypi/linux/issues/4363).

[2021-05-30 09:01] lategoodbye commented on #49
Second version should be ready for submission:
https://github.com/lategoodbye/rpi-zero/commits/rpi-400-v2

https://marc.info/?l=linux-arm-kernel&m=162236696220557&w=2

[2021-06-05 09:54] lategoodbye commented on #49
Third version should be ready for submission:
https://github.com/lategoodbye/rpi-zero/commits/rpi-400-v3

https://marc.info/?l=linux-arm-kernel&m=162298201726283&w=2

[2021-06-06 15:56] lategoodbye commented on #43
More information about DMA:
https://github.com/raspberrypi/documentation/issues/1903

[2021-06-10 10:54] lategoodbye commented on #49
The patch series has been accepted finally.

[2021-06-10 10:54] #49 closed, assigned to nobody

[2021-06-21 05:47] starnight opened #51 "Broadcom genet fails to attach ethernet PHY on Raspberry Pi 4B sometimes"
I notice the Broadcom genet fails to attach ethernet PHY on Raspberry Pi 4B sometimes (more than 50%) when I test kernel 5.13-rc6, also tested 5.11.

It shows errors in the kernel message:
[code]
The [full dmesg](https://bugzilla.kernel.org/attachment.cgi?id=297443).

I also filed this bug to kernel's bugzilla as [bug 213485](https://bugzilla.kernel.org/show_bug.cgi?id=213485).

According to the d

[2021-06-21 09:06] lategoodbye commented on #51
@starnight Thanks for reporting this issue. I'm having trouble to reproduce this issue, so i need more information about your setup:

What RPi 4 bootloader version are you using (vcgencmd bootloader_version)?
What distribution do you use?
What filesystem type is your rootfs?
What is connected to your Raspberry Pi 4 (HDMI, USB)?

[2021-06-21 10:02] starnight commented on #51
The firmwares are from RPi OS repository at [tag 1.20210527](https://github.com/raspberrypi/firmware/tree/1.20210527/boot).  But, I make it boot U-Boot at [tag v2021.04](https://source.denx.de/u-boot/u-boot/-/tree/v2021.04), then boot mainline kernel (aarch64).

[Endless OS](https://endlessos.com/download/)

EXT4

Both HDMI and USB

[2021-06-21 10:36] lategoodbye commented on #51
@starnight Could you please apply this [patch](https://gist.github.com/lategoodbye/b962e636543803fedd9cc59028fe6b44), reproduce the issue and provide the dmesg?

[2021-06-21 11:05] lategoodbye commented on #51
@starnight Please don't provide such ugly workaround patches to the netdev mailing list without helpful context. The results of my former request are more helpful.

[2021-06-22 10:12] lategoodbye commented on #51
I think, i can close this because the discussion continues here:
https://www.spinics.net/lists/netdev/msg749822.html

[2021-06-22 10:12] #51 closed, assigned to nobody

[2021-07-16 07:54] C-Erastus commented on #43
Hi @lategoodbye . I would like to contribute; I see that the above list hasn't been updated in a while. Could you please reply with a list of things that needs to be worked on so I can pick one?

A little about myself, I'm Erastus, a software engineer at Red Hat. I work on the kernel team.

[2021-07-16 10:38] lategoodbye commented on #43
Hi @chukpozohnToe, thanks for your interest. The list above represent my understanding and is up to date.

Are your contributions limited to the Raspberry Pi 4 or do they cover general Raspberry Pi topics?

What do you want to do:

- fixing recent regressions
- upstream vendor patches
- help to move drivers out of staging
- implement new feature

[2021-07-16 11:04] nullr0ute commented on #43
The latest v3d RFC patchset is here https://lists.freedesktop.org/archives/dri-devel/2021-February/297035.html but it's currently blocked due to lack of information/feedback on the power domain pieces from RPi/Broadcom.

The POE HAT pwm pieces landed upstream in 5.13.

There's new cyprus firmwares for the kr00k fixes in upstream linux-firmware that work with RPi series. Although there's no firmwar

[2021-07-16 11:47] lategoodbye commented on #43
@nullr0ute Thanks for the update. Nicolas has added some points that i wasn't totally aware of.

Regarding the kr00k fixes firmware, i'm not sure that the stability issues has been fixed.

[2021-07-16 11:56] nullr0ute commented on #43
I'm basing it purely on Fedora uses, and we have the same brcmfmac devices across a number of devices, and we've had no complaints (and people complain quickly and often). Also note that upstream there's a newer cypress firmware (will be in the next tagged release in the next day or so) that also fixes the more recent "12 frag attacks" vulnerabilities too.

[2021-07-16 11:57] nullr0ute commented on #43
It would be really awesome if we could get some assistance to sort out the power domain v3d issues. It's probably the highest request I get.

[2021-07-16 11:59] lategoodbye commented on #43
I'm sorry, i cannot help with this point.

[2021-07-16 14:05] C-Erastus commented on #43
My contributions cover general Raspberry pi topics. I would like to "implementing new feature" and also "fixing recent regressions". But over time, it'll be fun to venture in the others.

[2021-07-16 14:49] lategoodbye commented on #43
@chukpozohnToe Regarding new features, you are little bit on your on. You can pick one topic from the list above, but it's much easier to upstream existing vendor patches. But i'm always available as reviewer.

Here are the recent critical regressions i'm aware of (5.13 & 5.14):

1. https://www.spinics.net/lists/arm-kernel/msg905208.html (rejected workaround: https://www.spinics.net/lists/arm-kern

[2021-07-16 15:12] C-Erastus commented on #43
@lategoodbye I will take your word for it and upstream existing vendor patches. But it's definitely a goal of mine to implement a new feature some day. Do you have a list of vendor patches that needs to be upstreamed?

[2021-07-16 15:36] lategoodbye commented on #43
Here is a list:
https://github.com/lategoodbye/rpi-zero/issues/21

But it's not complete. I can add more.

Relevant candidates have status: not send yet

Be aware: some patches need commit log rewording or other improvements

[2021-07-16 18:28] C-Erastus commented on #43
@lategoodbye I'm going to take a crack at "[Regression] No framebuffer console on Rpi since 5.14-rc1" https://lists.freedesktop.org/archives/dri-devel/2021-July/315306.html

If you any information on it, I'll appreciate it.

[2021-07-17 09:36] lategoodbye commented on #43
Good choice (see my update above) ;-)

In my opinion the dependencies of VC4 are not correct, but i'm not sure other drm drivers are also affected. Everything else is written on the mailing list.

You said that you are in the kernel team. Did you ever submitted a kernel patch?

[2021-07-19 17:11] C-Erastus commented on #43
@lategoodbye I've not submitted a kernel patch yet but I know the process.

I'm new to the team, two weeks in. (New college grad).

[2021-07-19 18:31] lategoodbye commented on #48
Here is a first draft:
https://github.com/lategoodbye/rpi-zero/tree/v5.14-cm4-v1

[2021-07-20 01:03] CyrilBrulebois commented on #48
Oh wow, very nice!

I've tried to cross-build a `linux-image` package from that tree, using the `.config` from the latest Debian kernel (based on 5.10 for now, being stabilized for the upcoming Debian 11 release), using `oldconfig` and picking all default choices for new options.

I've deployed the resulting package in a Debian environment running on a regular Pi and the machine didn't manage to r

[2021-07-20 05:59] lategoodbye commented on #48
@CyrilBrulebois Thanks again for the hardware.

Yes, as written above this is just a draft. It has only been tested with a CM4 (not a CM4L) and only 32 bit Raspbian. The DTB has been optimized for eMMC, which should provide HS200 instead of DDR52. So be careful about your data it's possible that this speed is too high for the hardware. It took me 2 days to figure out that the firmware was patching

[2021-07-24 19:05] wizeman opened #52 "Boot hang (with Firmware transaction timeout error) on Raspberry Pi 4B"
I have a Raspberry Pi 4B (8 GB model) which hangs at boot with the following errors (apologies for the photo, but I don't have a serial console at hand):

![IMG_20210722_180151](https://user-images.githubusercontent.com/168610/126878445-043f4fa5-6bcf-4967-b6a5-10adf27b800d.jpg)

This happens 100% of the time with both mainline kernels `5.10.52` and `5.13.4`.

The only connected peripherals are an

[2021-07-24 23:35] lategoodbye commented on #52
@wizeman A firmware transaction timeout indicate an issue with the Videocore firmware. So i don't believe bisecting the kernel will help to narrow down this issue. I suggest to enable debug symbols for stacktraces CONFIG_KALLSYMS.

Another idea is build the mainline kernel and replace it on a Raspberry Pi OS image. Just to see if it's reproducible there.

At least it would be helpful to know the k

[2021-07-25 09:07] lategoodbye commented on #43
Okay, so you work on this regression? Please ask if you have any questions.

[2021-07-26 01:05] wizeman commented on #52
Here's a stack trace with `CONFIG_KALLSYMS` enabled:

![IMG_20210726_024800](https://user-images.githubusercontent.com/168610/126919444-b6424906-7ad1-493c-a76a-4d2eca9b4786.jpg)

Here's the full kernel config corresponding to the kernel in the above screenshot:

[config.txt](https://github.com/lategoodbye/rpi-zero/files/6874845/config.txt)

@lategoodbye Note that my main testing setup is the NixOS

[2021-07-26 01:12] wizeman commented on #52
I've corrected my comments to indicate that I'm actually using 5.x.x kernels, not 4.x.x. Sorry for any possible confusion...

[2021-07-26 16:22] lategoodbye commented on #52
I never worked with NixOS before. According to the RPi 4 instructions there are two possible images (generic or new kernel), which one do you use?

Does the issue also occur on SD card boot?

[2021-07-26 19:45] lategoodbye commented on #48
Here is a the second version:
https://github.com/lategoodbye/rpi-zero/tree/v5.14-cm4-v2

[2021-07-26 20:18] nullr0ute commented on #48
Has that been posted to mailing lists?

[2021-07-27 15:48] C-Erastus commented on #43
@lategoodbye sorry for the late reply but yes I've been working on the regression. I tried recreating the problem by compiling the new kernel. I had some problems compiling the kernel but I eventually got it to work. The regression doesn't seem to be an issue because my pi boot up just fine. I compiled the kernel version 5.14.0-rc3 and when I did a 'uname -r' after the process, the compiled kernel

[2021-07-28 10:55] lategoodbye commented on #48
Not yet (not finished). As usual i will post a link in case i send it to the mailing list.

[2021-07-28 11:00] lategoodbye commented on #43
@chukpozohnToe Just to make it clear, you did the following steps:
setup compiler
checkout v5.14-rc3
make multi_v7_defconfig
make menuconfig and enable CONFIG_ARM_LPAE
make

EDIT: missing step added

[2021-07-28 23:52] C-Erastus commented on #43
@lategoodbye I didn't do the "make multi_v7_deconfig" part. I compiled the kernel as I usually do. Currently doing another run with the steps you described.

[2021-07-29 02:55] wizeman commented on #52
I was using a customized image, which shares most of the configuration with NixOS's generic image, except it boots directly to the Linux kernel rather than using u-boot or the ARM stub. This is very similar to the configuration I use on my other Raspberry Pi 4s. First I tried using kernel 5.10.52 (which was working fine for me) but then I switched to 5.13.4 for debugging purposes. My kernel has a

[2021-07-29 05:48] lategoodbye commented on #52
FWIW here is a short analysis from my side. This firmware transaction timeout is a warning which should never happend (no response from the VideoCore mailbox after 1 second). In most cases it's a crash of the VideoCore firmware. So it's not the mainline kernel to blame for, it only triggers this issue for unknown reasons.

[2021-07-29 05:52] lategoodbye commented on #43
@chukpozohnToe I'm sorry i missed another step. Please see above.

[2021-07-29 17:23] wizeman commented on #52
I ended up buying a new, identical RPi, which doesn't have this problem anymore (just like my known-to-be-good one).

Eventually, I would like to bisect the kernels and see exactly which commit in the Raspberry Pi kernel seems to work around this issue, but this is very low priority for me and I'm not sure when I'll be able to do that.

Feel free to close this issue if you'd like.

Thanks!

[2021-07-30 04:19] C-Erastus commented on #43
According to you notes (I came across it while doing some research) I don't need to do "make menuconfig and enable CONFIG_ARM_LPAE", my Pi is 64bit. Btw how compiled the mainline kernel's very different from how I did it. It did it on Ubuntu 20.04 focal.

https://gist.github.com/lategoodbye/c7317a42bf7f9c07f5a91baed8c68f75#raspberry-pi-how-to-cross-compile-and-use-mainline-kernel

[2021-08-01 12:38] lategoodbye commented on #48
Okay, here is the third version:
https://github.com/lategoodbye/rpi-zero/tree/v5.14-cm4-v3

which has been sent to the mailing list:
https://marc.info/?l=linux-arm-kernel&m=162782110325813&w=2

[2021-08-07 11:15] lategoodbye commented on #48
Next round:
https://github.com/lategoodbye/rpi-zero/tree/v5.14-cm4-v4

which has also been sent to the mailing list:
https://marc.info/?l=linux-arm-kernel&m=162833462918135&w=2

[2021-09-10 08:46] lategoodbye commented on #48
I will close this, since it has been applied to linux-next.

[2021-09-10 08:46] #48 closed, assigned to nobody

[2021-11-11 05:55] starnight opened #53 "VC4 DRM waiting for flip down makes UI freeze a while with kernel 5.15"
I tested Linux mainline kernel 5.15 (aarch64) with enabled VC4 on RPi 4B.  I notice UI freezes a while (about 10 seconds) some times.
The kernel shows the error message during the time:
[code]
[dmesg-5.15.log](https://github.com/lategoodbye/rpi-zero/files/7518076/dmesg-5.15.log)

It is easy to reproduce this issue by invoking GL related things, for example `es2gears`.

[2021-11-11 05:58] starnight commented on #53
After detail test, I found it is related to these commits:
* [f3c420fe19f8 ("drm/vc4: kms: Convert to atomic helpers")](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=f3c420fe19f8cc39adf379365decf63167596dc3)
* [82faa3276012 ("drm/vc4: kms: Remove async modeset semaphore")](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=82faa3276012d272

[2021-11-11 11:50] lategoodbye commented on #53
@starnight This is not the right place to report VC4 issues. Please report to Maxime Ripard and dri-devel@lists.freedesktop.org

[2021-11-11 11:50] #53 closed, assigned to nobody

[2021-12-30 13:56] lategoodbye opened #54 "Upstream Raspberry Pi Zero 2 W"
The Raspberry Pi Zero 2 W mostly bases on the Raspberry Pi Zero W with
the following differences:
* Broadcom BCM2710A1, quad-core 64-bit SoC @ 1 GHz
* Synaptics BCM43436, 2.4GHz IEEE 802.11b/g/n wireless LAN

Contrary to the Raspberry Pi 3 boards there is no GPIO expander.

[2021-12-30 14:02] lategoodbye commented on #43
40 bit support for BCM2711 DMA controller has been send out as RFC (not functional):
https://lore.kernel.org/linux-arm-kernel/1640606743-10993-1-git-send-email-stefan.wahren@i2se.com/T/#t

[2021-12-30 14:03] lategoodbye commented on #54
Initial draft:
https://github.com/lategoodbye/rpi-zero/tree/bcm2837-rpi-zero-2-v1

[2022-02-21 12:32] #54 closed, assigned to nobody

[2022-04-07 11:11] lategoodbye commented on #45
It seems that there is still an [issue](https://github.com/raspberrypi/linux/issues/3777#issuecomment-1090823272) with the polling rate.

[2022-07-24 13:09] lategoodbye commented on #46
Now the V3D driver has been accepted, i will close this.

[2022-07-24 13:09] #46 closed, assigned to nobody

[2022-09-14 22:47] hamishmb commented on #43
What's the current status of this, out of interest?

[2022-09-15 05:51] lategoodbye commented on #43
@hamishmb What do you mean with this? The whole status of the work or the DMA controller?

I spent a lot of spare time to fix regressions for this platform. So there is not much left for "new" topics like upstreaming.

[2022-09-16 14:07] hamishmb commented on #43
Oh well, it's just been a while, so I was wondering whether this was complete - I just happened across the thread.

[2022-09-16 14:47] lategoodbye commented on #43
The table on top is almost up to date.

Recent i found a good article which also applies here
[When will mainlining be done?](https://github.com/AsahiLinux/docs/wiki/%22When-will-Asahi-Linux-be-done%3F%22)
But as long as most of the Linux distributions use the downstream kernel this job will never be finished.

[2022-09-16 15:14] hamishmb commented on #43
Yeah, it is annoying that eg Raspberry Pi OS isn't using upstream Linux.

That's why I didn't ask for an ETA, but sorry if it still came across as pestering - I know it's not an easy job.

[2022-09-16 20:15] lategoodbye commented on #43
I didn't expect that the Raspberry Pi trading would use the mainline kernel, because they need to integrate new hardware fast. But Arch Linux ARM discourage users from using the mainline kernel, this makes me sad.

No, you didn't pester me. Glad to see there is still interest in this topic.

[2022-09-16 20:25] stapelberg commented on #43
There definitely is interest!

https://gokrazy.org/ uses the latest version of the upstream linux kernel and hence much of your work! So thank you for all that you have made possible :)

[2022-09-19 10:46] nullr0ute commented on #43
Fedora uses a purely upstream kernel.

[2022-11-03 12:39] diederikdehaas commented on #43
FWIW: Debian uses the upstream kernel as well.

I wonder what the current upstream status is wrt SPI. In the table above it is listed as [Rework needed](https://patchwork.kernel.org/project/spi-devel-general/patch/20200604212819.715-1-f.fainelli@gmail.com/) and I wonder whether that has been done since (https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/commit/?id=89fcdd53c2528b8f0ed

[2022-11-03 18:57] lategoodbye commented on #43
@diederikdehaas Thanks for pointing out, i updated the table.